<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/header.css' />
  </head>
  <body>

    <div class="nav-top">
      <div class="div-center">
        <div class="nav-img">
        </div>
        <% if(!username){ %>
          <div class="nav-notname">
            <input class="btn-login" type="button" value="登录" onclick="location.href='/login'">
            <input class="btn-registor" type="button" value="注册" onclick="location.href='/registor'">
          </div>
        <% }else{ %>
          <div class="nav-name">
            <span>
            你好：<%= username %>
            </span>
            <input class="btn-log" type="button" value="注销" onclick="location.href = '/logout'">
          </div>
      <%  } %>

        </div>
      </dv>
    </div>
      <!-- <h1 style="clear:both;padding-top:200px;text-align:center">
      hello,傻叉们。
      <img src="images/742.gif" style="margin-left:600px">
    </h1> -->
    <div class="album-header">
<div class="album-header-bg-mask"></div>
<table class="album-header-info tc">
<tbody>
<tr>
<td>
<h1 class="album-title">【cruise】遗落在中国大地上的西洋风情</h1>
<p class="album-desc">
走过一条街，总有这样幽雅宁静的庭院：有厚重的墙，雅致的门庭，隔绝了墙外的市井喧嚣，隔绝出另一方清幽的田地．主人又多有雅兴，往往种上萱草玉兰，让春色在窗外花开自在。生活中的场景在不经意间，就成了艺术，生活本来就是艺术。【图·cruise摄影】
</p>
</td>
</tr>
</tbody>
</table>
<div class="album-header-attr-mask"></div>
<div class="album-header-attr tc">
<div class="album-action dib">
<a title="收藏" class="albumcollectbtn" href="comment">发帖</a>
<a title="赞" class="albumlikebtn " href="list">逛逛</a>
<a title="讨论" class="talkbtn " href="talk">聊天</a>
</div>
</div>
<div class="album-header-mask dn"></div>
</div>
  </body>
</html>
