<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>registor</title>
	<link rel='stylesheet' href='/stylesheets/login.css' />
</head>
<body>
	<form action="/users/registor" method="post">
		<h3>用户注册</h3>
		<input type="text" name="username" placeholder="请输入用户名"/>
		<input type="text" name="pwd" placeholder="请输入密码"/>
		<input type="submit" class="btn" value="注册" />
	</form>
</body>
</html>
